extends ../layouts/main_layout.pug

block styles
    link(rel="stylesheet", href="/css/orders.css")

block content   
    main    
        if orders.length <=0
            h1 Nothing Here
        else 
            ul 
                each order in orders
                    li.orders__item 
                        h1 Order :#{order._id}
                        ul.orders__products 
                            each p in order.products
                                li.orders__products-item #{p.product.title} (#{p.quantity})
